webApp/.bower_cache
webApp/bower_components
webApp/node
webApp/node_modules
webApp/app/lib/
webApp/app/styles/main.css
webApp/app/styles/main.css.map
webApp/.tmp
webApp/documentation/
webApp/package-lock.json
webApp/dist
webApp/tmp
webApp/out-tsc
webApp/.c9/

webApp/.sass-cache
webApp/connect.lock
webApp/coverage
webApp/libpeerconnection.log
webApp/npm-debug.log
webApp/testem.log
webApp/typings


src/main/resources/public/webapp
target/
.classpath
.project
.settings/
.idea
*.iml
*.ipr
*.iws
npm-debug.log
.vscode
*.launch
*.sublime-workspace
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
